<html>
  <head>
    <style type="text/css">
      body {
        background: black;
        color: yellow;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>welocme to Devops course by JALA academy !!! </h4>
      <h4>We Help You Make Right Career Decision </h4>
      <br>
       <h4>It's our responsibility right from Career Planning,Funding Visa, Pre-Departure, Technology Training, andJob </h4>
    </div>
  </body>
</html>
